* {
  box-sizing: border-box;
}
body {
  padding: 50px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100vw;
}

.header-text {
  width: 40%;
}

h1 {
  font-size: 28px;
  font-family: "League Spartan", sans-serif;
}

p {
  font-size: 16px;
  font-family: "League Spartan", sans-serif;
}
li {
  list-style: none;
}
.stars ul {
  display: flex;
  flex-direction: column;
}
.stars {
  width: 40%;
}
.stars ul li {
  background-color: rgb(243, 242, 244);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
.firts-stars {
  right: 30px;
}
.person-container {
  color: white;
  width: 250px;
  height: 200px;
  padding: 5px;
  background-color: rgb(90, 10, 106);
}
.user-info {
  display: flex;
  margin: 5px;
}
.user-name {
  display: flex;
  flex-direction: column;
  margin: 0, 0, 0, 10px;
  color: white;
}
.user-name span {
  color: rgb(226, 43, 205);
}

.colton,
.irene,
.anne {
  background-color: rgb(90, 10, 106);
  display: flex;
  flex-direction: column;
}
.colton img {
  border-radius: 100px;
}
.irene img {
  border-radius: 100px;
}

.anne img {
  border-radius: 100px;
}
.main-container {
  width: 100vw;
  display: flex;
  gap: 20px;
}
